html,
body {
	width: 100vw;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	margin: 0;
}
.section__title {
	color: #222222;
	display: flex;
	flex-direction: row;
	padding: 2%;
	align-items: baseline;
}
.section__title > .section__title_icon {
	align-items:center;
	margin-right: 10px;
}
.section__title > .section__title_icon > * {
	font-size: 18px;
	height: 16px !important;
	width: 16px !important;
	align-items: middle;
}
.section__title > h1 {
	font-size: 25px;
}
