.main {
	background-color: lightgray;
	padding: min(2%, 1em) 2%;
	/* min-height: 100vh;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}
.main section {
	background-color: #90ee9099;
	border-radius: 0.5em;
	/* height: 200px; */
}
@media (min-width: 900px) {
	.main {padding: min(5%, 1em) 5%;}
}